<a href="index.html" class="imagen1"><img src="1.jpeg" class="imagen1"></img></a>
<li class="link"><a href="HOBBIE.html">Mis hobbies</a></li>
<li class="link"><a href="VIDEOJUEGOFAV.html">Videojuegos fav</a></li>
<li class="link"><a href="ANIME.html">Animes favoritos</a></li>
