/* style.css */
* {
  box-sizing: border-box;
  background-color: black;
}
/* Marca el tipo de letra del html con cuanto ocupa, de que color el borde y color de la letra */
 html, body {
   font-family: 'Indie Flower';
   margin: 0;
   height: 100%;
   color: red;
 }

/* Esto son los tres links de el navbar */
.link a {
  font-size: 200%;
  text-decoration: none;
  color: #b40ade;
}

#explicacion1{
  padding-left: 10%
}

.link :hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 10px 7px;
  transition: 1s;
}
#topright{
  float: left;
}

#top:after {
  content: "";
  display: table;
  clear: both;
  float: left;
  animation-timing-function: ease;
}

/* es la foto del navbar en la que sale kaneki  */
.imagen1 {
  width: 150px;
  float: left;
}

 #left {
   float: left;
   width: 25%;
   padding: 2%;
   color: white;
   font-size: 130%;
   right: 100%;
   height: 69.1%
 }

#outside {
   float: right;
   font-size: 130%;
   width: 75%;
   color: white;
 }

 #top-inside {
   float: top;
   font-size: 130%;
   width: 100%;
   color: white;
 }

#content {
  width: 75%;
  float: left;
  font-size: 130%;
  color: white;
}

#contentleft {
  float: left;
  width: 25%;
  height: 69%;
  font-size: 180%;
  color: white;
}

#right {
  float: right;
  width: 25%;
  height: 69%;
  font-size: 130%;
  color: white;
}

/* es el video, se especifica la altura, anchura y el color del borde */

#video {
  width: 100%;
  float: left;
  height: 69%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
	#contentleft, #contentright,	#video, #right, #left, #outside {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

	img { border-radius: 50%;
        width: 80;
        height: 80;
  }
}

/* HOBBIE HTML */
/**/
/**/
/**/

.imghobbie  {
  padding-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  float:left;
  width: 50.333333%;
  border-radius: 50%;
  max-width: 100%;
}

.line {
  width: 100%;
}


/* Carrousel Anime */
/**/
/**/
/**/
 .carousel-buttons {
   text-align: center;
}
#button-previous{
  width: 70px;
  height: 70px;
  color: white;
  background-color: #7a6662;+
}

#button-next{
  width: 70px;
  height: 70px;
  color: white;
  background-color: #7a6662;
}

 .carousel-image { display: none; }
 .carousel
 .carousel-image:first-child {   display: block; }
